body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

h2 {
    color: #666;
}

textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    margin: 10px 10;
}

.delete_button {
    background-color: #ff0000;
}

#recButton {
	border: 0;
	border-radius: 35px;
	margin: 18px;
	outline: none;
}

.nextButton{
    float: right;
}


.not_recording {
    background-color: darkred;
}

.recording {
    background-color: green;
}


button:disabled {
    background-color: #666;
    cursor: not-allowed;
}

button:hover {
    background-color: #666;
}

#questions {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.question {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}